body{
  font-family: Arial;
  background:#f2f2f2;
  text-align:center;
}

.box{
  background:white;
  width:300px;
  margin:80px auto;
  padding:20px;
  border-radius:10px;
}

input, button{
  width:90%;
  padding:10px;
  margin:8px;
}

button{
  background:#ff9900;
  border:none;
  color:white;
  cursor:pointer;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:white;
  width:220px;
  margin:15px;
  padding:10px;
  border-radius:10px;
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

.admin-card{
  background:#fafafa;
  padding:10px;
  margin:10px;
  border-radius:8px;
}

.admin-card img{
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius:5px;
}

.admin-card button{
  width:45%;
  margin:5px;
}

.admin-btn{
  padding: 8px 14px;
  background: #131212;
  color: #fdfdfd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  opacity: 0.75;
}

.admin-btn:hover{
  opacity: 1;
}

